@tailwind base;
@tailwind components;
@tailwind utilities;

.product-range-section {
  background-image: url(./assets/clothes-CMPWJ6JG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #18c75a;
  position: relative;
  padding-top: 75.5%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.product-range-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./assets/clothes-bottom-53OO5ML3.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 78%;
  border-bottom-right-radius: 20px;
}

.plus-icon {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: transform 0.3s ease;
}

.plus-icon:hover {
  transform: scale(1.1);
}

.plus-icon svg {
  color: #18c75a;
}

.preview-box {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 2;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .product-range-section {
    background-image: url(./assets/clothes-CMPWJ6JG.webp);
    background-size: cover;
    background-position: center;
    padding-top: 60%;
  }
}

@media (max-width: 768px) {
  .product-range-section {
    background-image: url(./assets/clothes-CMPWJ6JG.webp);
    background-size: cover;
    background-position: center;
    padding-top: 50%;
    border-radius: 15px;
  }
}

@media (max-width: 480px) {
  .product-range-section {
    background-image: url(./assets/clothes-CMPWJ6JG.webp);
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    border-radius: 10px;
  }
}
/* Swiper Styles */
.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  margin: 0 10px !important;
}

.swiper-pagination {
  position: static !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  margin: 0 4px !important;
}

.swiper-container {
  position: relative;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: black;
}

.swiper-pagination-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #000;
  opacity: 0.5;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #18c75a;
}

/* Responsive Swiper Pagination */
@media (max-width: 768px) {
  .swiper-pagination-custom .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 480px) {
  .swiper-pagination-custom .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
}
